@font-face {
  font-family: "ChunkFive-Regular";
  src: url("../fonts/ChunkFive-Regular.ttf.woff") format("woff"),
    url("../fonts/ChunkFive-Regular.ttf.svg#ChunkFive-Regular") format("svg"),
    url("../fonts/ChunkFive-Regular.ttf.eot"),
    url("../fonts/ChunkFive-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/* custommed Style  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
h1,
h2 {
  font-family: "ChunkFive-Regular";
}
p,
h3 {
  font-family: "Segoe UI Regular";
}

:root {
  --custom-blue: #027bfe;
}

.bg-cus-blue {
  background: var(--custom-blue);
}

.top-profile-bg {
  margin-top: 2px;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}
.fa-ellipsis-v {
  font-size: 2.25rem;
}

.vip-btn {
  background-color: #81bdff;
  color: white;
}
.vip-btn i {
  font-size: 1.5rem;
}
.reputation-btn {
  background-color: white;
  color: #333333;
}
.reputation-btn img {
  height: 23px;
  width: auto;
}
.vip-btn,
.reputation-btn {
  height: 40px;
  width: 30%;
}
.vip-btn h3,
.reputation-btn h3 {
  font-size: 1.625rem;
  font-family: "Segoe UI Bold";
}
.profile-section img {
  height: 100%;
}
.profile-content h1 {
  color: #fff;
  font-size: 1.75rem;
  font-family: "ChunkFive-Regular";
}
.profile-content p {
  color: #81bdff;
  font-size: 1.25rem;
  font-family: "Segoe UI Regular";
}
.profile-content button {
  color: var(--custom-blue);
  font-size: 1rem;
  text-transform: capitalize;
}
.booking-content h3 {
  font-size: 1.1rem;
  color: #333333;
  font-weight: bold;
}
.footer-tab {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding: 1rem 0;
}
.footer-tab i {
  font-size: 1.5rem;
}
.footer-tab:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #0262cb;
}
.alert-box {
  background-color: rgb(255, 255, 255);
  border-radius: 1.2rem;
  padding: 1rem;
  position: relative;
  top: -18px;
  box-shadow: 0 4px 8px 0 rgba(2, 123, 254, 0.25);
}
.alert-box h1 {
  background-color: rgb(255, 255, 255);
  border-radius: 1.2rem;
  font-size: 1.625rem;
  font-family: "ChunkFive-Regular";
  color: #333333;
}
.alert-box p {
  font-size: 1.25rem;
}
.alert-box button {
  font-size: 1.1rem;
  text-transform: capitalize;
}
.alert-box button:hover {
  background-color: #0262cb;
}
