@font-face {
  font-family: "ChunkFive-Regular";
  src: url("../fonts/ChunkFive-Regular.ttf.woff") format("woff"),
    url("../fonts/ChunkFive-Regular.ttf.svg#ChunkFive-Regular") format("svg"),
    url("../fonts/ChunkFive-Regular.ttf.eot"),
    url("../fonts/ChunkFive-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/* custommed Style  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p,
h3 {
  font-family: "Segoe UI Regular";
}
.title {
  font-family: "ChunkFive-Regular";
  font-size: 26px;
}
.semi-title {
  font-family: "ChunkFive-Regular";
  font-size: 24px;
  margin: 10px 0;
}
:root {
  --custom-blue: #027bfe;
}

.bg-cus-blue {
  background: var(--custom-blue);
}

.top-profile-bg {
  margin-top: 2px;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
}
.profile-icon-sm {
  width: 36px;
  border-radius: 50%;
}
.fa-ellipsis-v {
  font-size: 2.25rem;
}

.vip-btn {
  background-color: #81bdff;
  color: white;
}
.vip-btn i {
  font-size: 1.5rem;
}

.starter-btn {
  background-color: white;
  color: #333333;
}

.starter-btn img {
  height: 23px;
  width: auto;
  margin-top: 3px;
}

.reputation-btn {
  background-color: white;
  color: #333333;
}
.reputation-btn img {
  height: 23px;
  width: auto;
}
.vip-btn,
.starter-btn,
.reputation-btn {
  height: 40px;
  width: 30%;
}
.vip-btn h3,
.starter-btn h3,
.reputation-btn h3 {
  font-size: 1.625rem;
  font-family: "Segoe UI Bold";
}
.profile-section img {
  height: 100%;
  width: 88px;
  border-radius: 50%;
}
.profile-content h1 {
  color: #fff;
  font-size: 28px;
  font-family: "ChunkFive-Regular";
}
.profile-content p {
  color: #81bdff;
  font-size: 1.125rem;
  font-family: "Segoe UI Regular";
}
.profile-content button {
  color: var(--custom-blue);
  font-size: 1rem;
  text-transform: capitalize;
}
.booking-content h3 {
  /* font-size: 4vw; */
  font-size: 1.1rem;
  color: #333333;
  font-weight: bold;
}
.booking-content p {
  /* font-size: 4vw; */
  font-size: 1rem;
}
.booking-content .row > p {
  /* font-size: 4vw; */
  font-size: 1rem;
  padding: 0 0.375rem;
}
.footer-tab {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding: 1rem 0;
}
.footer-tab i {
  font-size: 1.5rem;
}

.footer-tab.active,
.footer-tab:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #0262cb;
}
.alert-box {
  background-color: rgb(255, 255, 255);
  border-radius: 1.2rem;
  padding: 1rem;
  position: relative;
  top: -18px;
  box-shadow: 0 4px 8px 0 rgba(2, 123, 254, 0.25);
}
.alert-box h1 {
  background-color: rgb(255, 255, 255);
  border-radius: 1.2rem;
  font-family: "ChunkFive-Regular";
  color: #333333;
}
.alert-box p {
  font-size: 1.25rem;
}
.alert-box button {
  font-size: 1.1rem;
  text-transform: capitalize;
}
.alert-box button:hover {
  background-color: #0262cb;
}
.footer-tab span {
  color: var(--custom-blue);
  font-size: 0.9rem;
  margin: -0.5rem -7px;
}
.booking-wrapper {
  height: 40vh;
  overflow-x: auto;
}
.booking-wrapper .col {
  padding: 0 6px;
}

.booking-wrapper img {
  border-radius: 50%;
  width: 75px;
}

/* section scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #81bdff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #409afd;
}

/* chat-overview style  */
.sub-directory {
  font-size: 2.2rem;
  font-family: "ChunkFive-Regular";
  color: #81bdff;
  padding: 0;
  margin-left: -10px;
}
.booking-wrapper-chat-overview {
  height: 74vh;
  padding-bottom: 20px;
}
.message-heading {
  font-size: 1.25rem;
  font-weight: bold;
}
.time-chat h4 {
  font-size: 1rem;
}
.time-chat p {
  font-size: 1rem;
}

/* media query  */
@media screen and (max-width: 400px) {
  .booking-content h3 {
    font-size: 4vw;
  }
  .time-chat h4,
  .time-chat p {
    font-size: 3vw;
  }
  .booking-content p {
    font-size: 4vw;
  }
  .booking-content .row > p {
    font-size: 4vw;
  }
  .message-heading h3 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 345px) {
  .booking-content h3 {
    font-size: 3vw;
  }
  .booking-content p {
    font-size: 3vw;
  }
  .booking-content .row > p {
    font-size: 3vw;
  }
  .message-heading h3 {
    font-size: 4vw;
  }
}
